.input-container {
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
}

.input-label {
    margin: 10px;
    margin-bottom: -5px;
}

.input {
    width: 300px;
    height: 45px;
    border-radius: 20px;
    border: none;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
    padding: 15px;
    font-size: 16px;
    margin: 10px;
}

.input-container:hover {
    margin: 5px;
}